@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

main {
    background-color: darkgray;
}

header{
    background-color: darkgray;
}

p {
    background-color: darkgray;
}

footer{
    background-color: darkgray;
}

main {
    background-color: darkgray;
}

nav.navBar {
    background-color: red;
}

nav.navBarli {
    list-style-type: none;
    list-style-type: none;
    display: inline-block;
    padding: 5em 10em;
}

header {
    font-style: bangers;
}

footer {
    font-style: bangers;
}

h1 {
    color: red;
    font-size: 20px;
  }

h2 {
    text-decorating: solid;
    font-size: 12px;
}

header h1 {
    color: black;
}

footer, header p {
    font-style: bangers;
}

.colors {
    border: solid 3px red;
}

.colors article p {
    padding: 25px 7px;
    font-size: 15px;
}

.colors article p span {
    font-weight: bold;
    font-style: bangers;
}

.colors article h1 {

}

{
    background-color: rgba(150, 150, 150, 0.5) !important;
    .bold
}
{
    font-weight: bold;
}

.bangers {
    font-style: bangers;
}

.small-caps {
    font-variant: small-caps;
}

.letter-spacing {
    letter-spacing: .2em;
}

.word-spacing {
    word-spacing: .2em;
}

.fx-px10 {
    font-size: 10px;
}

.fx-px15 {
    font-size: 15px;
}

.fs-px25 {
    font-size: 25px;
}

.fs-em0-7 {
    font-size: .5em;
}

.fs-em1-8 {
    font-size: 2em;
}

.fs-em4 {
    font-size: 4em;
}

#html, #js {
    float: right;
    height: 100px;
    margin-left: 15px;
}

#css {
    float: left;
    height: 100px;
    margin-right: 15px;
}

#frontendDev section {
    width: 60%;
    margin: 0 auto;
}

/*Beginning of tables/floats*/
#html, #js {
    float: right;
    height: 75px;
    margin-left: 20px;
}

#css {
    float: left;
    height: 75px;
    margin-right: 20px;
}

#frontendDev section {
    width: 85%;
    margin: 0 auto;
}

/*2 column layout for index floation 1 column*/
#leftColumn {
    width: 73%;
    border-right: 2px solid red;
}

#rightColumn {
    width: 25%;
    float: right;
}

/*2 column layout for css.html floating  2 columns*/
#cssLeftColumn {
    width: 75%;
    float: left;
    border-right: 2px solid red;
    box-sizing: border-box; 
}

#cssRightColumn {
    width: 25%;
    float: right;
}

.clear {
    clear: both;
}
/*#endregion*/

/*Tables*/
table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    margin: auto;
}

td, th {
    padding: .3em;
}

thead {
    background-color: #bada55;
}